{% extends 'components/base2.html' %}

{% block content %}
<div class="text-center mt-14">
    <h1 class="text-4xl font-bold pb-4">เลือกเวลา</h1>
    <div class="max-w-2xl mx-auto bg-white rounded shadow p-4 border-2">
        <form method="post" class="space-y-4">
            {% csrf_token %}
            <div class="grid grid-cols-2 gap-4 font-semibold text-xl text-center rounded-lg">
                <div class="rounded-sm bg-slate-200 shadow-sm w-44 hover:bg-slate-400 p-2 flex items-center justify-center">
                    <input type="checkbox" name="time_slot" value="08:00 - 09:00" id="slot1" class="mr-2">
                    <label for="slot1">08:00 - 09:00</label>
                </div>
                
                <div class="rounded-sm bg-slate-200 shadow-sm w-44 hover:bg-slate-400 p-2 flex items-center justify-center">
                    <input type="checkbox" name="time_slot" value="09:00 - 10:00" id="slot2" class="mr-2">
                    <label for="slot2">09:00 - 10:00</label>
                </div>

                <div class="rounded-sm bg-slate-200 shadow-sm w-44 hover:bg-slate-400 p-2 flex items-center justify-center">
                    <input type="checkbox" name="time_slot" value="10:00 - 11:00" id="slot3" class="mr-2">
                    <label for="slot3">10:00 - 11:00</label>
                </div>

                <div class="rounded-sm bg-slate-200 shadow-sm w-44 hover:bg-slate-400 p-2 flex items-center justify-center">
                    <input type="checkbox" name="time_slot" value="09:00 - 10:00" id="slot4" class="mr-2">
                    <label for="slot4">11:00 - 12:00</label>
                </div>

                <div class="rounded-sm bg-slate-200 shadow-sm w-44 hover:bg-slate-400 p-2 flex items-center justify-center">
                    <input type="checkbox" name="time_slot" value="09:00 - 10:00" id="slot5" class="mr-2">
                    <label for="slot5">12:00 - 13:00</label>
                </div>

                <div class="rounded-sm bg-slate-200 shadow-sm w-44 hover:bg-slate-400 p-2 flex items-center justify-center">
                    <input type="checkbox" name="time_slot" value="09:00 - 10:00" id="slot6" class="mr-2">
                    <label for="slot6">13:00 - 14:00</label>
                </div>

                <div class="rounded-sm bg-slate-200 shadow-sm w-44 hover:bg-slate-400 p-2 flex items-center justify-center">
                    <input type="checkbox" name="time_slot" value="09:00 - 10:00" id="slot7" class="mr-2">
                    <label for="slot7">14:00 - 15:00</label>
                </div>

                <div class="rounded-sm bg-slate-200 shadow-sm w-44 hover:bg-slate-400 p-2 flex items-center justify-center">
                    <input type="checkbox" name="time_slot" value="09:00 - 10:00" id="slot8" class="mr-2">
                    <label for="slot8">15:00 - 16:00</label>
                </div>
                
            </div>
            <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
