<!-- admin/appointment/adviser/add.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Adviser to Appointment</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-blue-200 py-10 px-4">
    <h1 class="text-2xl font-bold mb-4 text-center mt-72">เพิ่มที่ปรึกษาลงในการนัด</h1>
    <form action="" method="post" class="max-w-md mx-auto bg-white rounded-lg shadow-md overflow-hidden p-4">
        {% csrf_token %}
        <input type="hidden" name="appointment" value="{{ appointment.id }}">
        <div class="mb-4">
            <label for="adviser" class="block text-gray-700 font-bold mb-2">เลือกที่ปรึกษา:</label>
            <select name="adviser" id="adviser" class="w-full px-3 py-2 border rounded-lg">
                {% for adviser in advisers %}
                    <option value="{{ adviser.id }}">{{ adviser }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">บันทึกข้อมูล</button>
    </form>
</body>
</html>
