<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<body class="bg-blue-200 flex justify-center items-center h-screen">
    <div class="bg-white p-6 rounded-lg shadow-md w-full max-w-md">
        <h1 class="text-3xl font-bold mb-6">สร้างผู้ใช้</h1>
        <form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-4">
                <label for="username" class="block text-md font-semibold mb-2">ชื่อผู้ใช้</label>
                <input type="text" name="username" id="username" class="w-full border-gray-300 rounded-md p-2">
            </div>
            <div class="mb-4">
                <label for="password" class="block text-md font-semibold mb-2">รหัสผ่าน</label>
                <input type="password" name="password" id="password" class="w-full border-gray-300 rounded-md p-2">
            </div>
            <div class="mb-4">
                <label for="email" class="block text-md font-semibold mb-2">อีเมล</label>
                <input type="email" name="email" id="email" class="w-full border-gray-300 rounded-md p-2">
            </div>
            <div class="flex items-center mb-4">
                <input type="checkbox" id="is_student" name="is_student" class="mr-2">
                <label for="id_is_student" class="text-md">นี่คือนักศึกษา</label>
            </div>
            <div class="flex items-center mb-4">
                <input type="checkbox" id="is_lecturer" name="is_lecturer" class="mr-2">
                <label for="id_is_lecturer" class="text-md">นี่คืออาจารย์</label>
            </div>

            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">ยืนยัน</button>
        </form>
    </div>
</body>
</html>
