<!-- login.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="min-h-screen flex items-center justify-center bg-blue-100">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <form method="post" action="{% url 'login' %}">
            <h1 class="text-3xl font-bold mb-4 text-gray-700 text-center mx-12">เข้าสู่ระบบ</h1>
            {% csrf_token %}
            {% if messages %}
                <div class="mb-4">
                    {% for message in messages %}
                        <p class="text-red-500 text-sm italic">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="mb-4">
                <label class="block text-gray-700 text-md mb-2" for="{{ form.username.id_for_label }}">Username:</label>
                <input type="text" name="username" class="border-2 border-black rounded-md pr-12" placeholder="your username">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-md mb-2" for="{{ form.password.id_for_label }}">Password:</label>
                <input type="password" name="password" class="border-2 border-black rounded-md pr-12" placeholder="your password">
            </div>
            <button type="submit" class="rounded-full bg-blue-200 p-2 w-full hover:bg-blue-500">เข้าสู่ระบบ</button>
            <a href="{% url 'register' %}">
                <p class="text-center text-gray-400 mt-4 underline">สมัครสมาชิกตอนนี้!</p>
            </a>
        </form>
        <p class="ml-24 text-gray-400">หรือ</p>
        {% load socialaccount %}
        <h2 class="ml-11 text-gray-400">เข้าสู่ระบบด้วย Google</h2>
        <div class="pt-4">
            <a href="{% url 'social:begin' 'google-oauth2' %}"  class="">
                <img src="{% static 'media/google_logo.png' %}" alt="google_login_logo" class="w-56 m-auto">
            </a>
        </div>
    </div>
</body>
</html>
