<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Appoinment</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-blue-200">
    <div class="text-center mt-14">
        <h1 class="text-3xl font-bold mb-8">การนัดทั้งหมด</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 bg">
            {% for a in appointment %}
            <a href="{% url 'add_adviser' a.id %}" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md transition duration-300 shadow-md hover:shadow-lg block text-center">{{ a }}</a>
            {% endfor %}
        </div>
    </div>
</body>
</html>