{% extends 'base.html' %}

{% block content %}
<div class="text-center mt-14">
    <h1 class="text-4xl font-bold pb-4">เลือกเวลา</h1>
    <div class="max-w-2xl mx-auto bg-white rounded shadow p-1 border-2">
        <div class="pt-4 pb-4">
            <a href="{% url 'app_complete' year=year month=month day=day start_time='08:00' end_time='09:00' %}">
                <button class="border-2 border-black py-2 px-2 text-2xl hover:bg-gray-300 mx-4">08:00 - 09:00</button>
            </a>
            <a href="{% url 'app_complete' year=year month=month day=day start_time='09:00' end_time='10:00' %}">
                <button class="border-2 border-black py-2 px-2 text-2xl hover:bg-gray-300">09:00 - 10:00</button>
            </a>
            <br>
            <br>
            <a href="{% url 'app_complete' year=year month=month day=day start_time='10:00' end_time='11:00' %}">
                <button class="border-2 border-black py-2 px-2 text-2xl hover:bg-gray-300 mx-4">10:00 - 11:00</button>
            </a>
            <a href="{% url 'app_complete' year=year month=month day=day start_time='11:00' end_time='12:00' %}">
                <button class="border-2 border-black py-2 px-2 text-2xl hover:bg-gray-300">11:00 - 12:00</button>
            </a>
            <br>
            <br>
            <a href="{% url 'app_complete' year=year month=month day=day start_time='12:00' end_time='13:00' %}">
                <button class="border-2 border-black py-2 px-2 text-2xl hover:bg-gray-300 mx-4">12:00 - 13:00</button>
            </a>
            <a href="{% url 'app_complete' year=year month=month day=day start_time='13:00' end_time='14:00' %}">
                <button class="border-2 border-black py-2 px-2 text-2xl hover:bg-gray-300">13:00 - 14:00</button>
            </a>
            <br>
            <br>
            <a href="{% url 'app_complete' year=year month=month day=day start_time='14:00' end_time='15:00' %}">
                <button class="border-2 border-black py-2 px-2 text-2xl hover:bg-gray-300 mx-4">14:00 - 15:00</button>
            </a>
            <a href="{% url 'app_complete' year=year month=month day=day start_time='15:00' end_time='16:00' %}">
                <button class="border-2 border-black py-2 px-2 text-2xl hover:bg-gray-300">15:00 - 16:00</button>
            </a>
        </div>
    </div>
</div>

{% endblock %}
