{% extends 'base.html' %}

{% block content %}

<div class="text-center mt-14">
    <h1 class="text-2xl font-bold">แก้ไขข้อมูลส่วนตัว</h1>
    <div class="mt-16 bg-blue-100 w-1/4 mx-auto min rounded-md shadow">
        <form action="{% url 'edit' %}" method="post">
            {% csrf_token %}
            <div class="mb-4 pt-16 pb-16 mx-auto">
              ชื่อ : {{user.first_name}}
              <br>
              <input type="text" name="first_name" class="border-2 border-black rounded-md">
              <br>
              นามสกุล : {{user.last_name}}
              <br>
              <input type="text" name="last_name" class="border-2 border-black rounded-md">
              <br>
              <br>
              <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded">บันทึกข้อมูล</button>
            </div>
        </form>
    </div> 
</div>

{% endblock %}