<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="min-h-screen flex items-center justify-center bg-blue-100">
    <form method="post" action="login" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h1 class="text-3xl font-bold mb-4 text-gray-700 text-center mx-12 font-bold">เข้าสู่ระบบ</h1>
        {% csrf_token %}
        <div class="mb-4">
          <label class="block text-gray-700 text-sm mb-2" for="{{ form.username.id_for_label }}">Username:</label>
          <input type="text" name="username" class="border-2 border-black rounded-md" placeholder="your username">
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm mb-2" for="{{ form.password.id_for_label }}">Password:</label>
          <input type="password" name="password" class="border-2 border-black rounded-md" placeholder="your password">
        </div>
        <button type="submit" class="rounded-full bg-blue-200 p-2 w-full hover:bg-blue-500">เข้าสู่ระบบ</button>
        <a href="{% url 'register' %}">
            <p class="text-center text-gray-400 mt-4">สมัครสมาชิกตอนนี้!</p>
        </a>
    </form>
</body>
</html>
