{% extends 'components/base.html' %}

{% block content %}

<div class="text-center mt-14">
  <h1 class="text-3xl font-bold mb-8">นัดอาจารย์</h1>
  <form method="post" action="{% url 'create_event2' %}" class="max-w-md mx-auto p-8 bg-white rounded-lg shadow-md">
      {% csrf_token %}
      <div class="mb-6">
        {% for lecturer in lecturers %}
          <div class="flex items-center mb-2">
            <input type="checkbox" id="{{ lecturer.id }}" name="lecturers" value="{{ lecturer.id }}" class="mr-2">
            <label for="{{ lecturer.id }}" class="text-sm">{{ lecturer.first_name }} {{ lecturer.user.email }}</label>
          </div>
        {% endfor %}
      </div>
      <div class="mb-6">
        <label for="start_time" class="block text-sm mb-2">Start Time:</label>
        <input type="datetime-local" id="start_time" name="start_time" onchange="updateGoogleCalendarDateTime(this)" class="w-full border border-gray-300 rounded-lg p-2">
      </div>
      <div class="mb-6">
        <label for="end_time" class="block text-sm mb-2">End Time:</label>
        <input type="datetime-local" id="end_time" name="end_time" onchange="updateGoogleCalendarDateTime(this)" class="w-full border border-gray-300 rounded-lg p-2">
      </div>
      <div class="mb-6">
        <label for="summary" class="block text-sm mb-2">Summary:</label>
        <input type="text" id="summary" name="summary" class="w-full border border-gray-300 rounded-lg p-2">
      </div>
      <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-300">ยืนยัน</button>
  </form>
</div>

<script>
  function convertToHTMLDateTime(googleCalendarDateTime) {
      var date = new Date(googleCalendarDateTime);
      var year = date.getFullYear();
      var month = String(date.getMonth() + 1).padStart(2, '0');
      var day = String(date.getDate()).padStart(2, '0');
      var hours = String(date.getHours()).padStart(2, '0');
      var minutes = String(date.getMinutes()).padStart(2, '0');
      var seconds = String(date.getSeconds()).padStart(2, '0');
      return `${year}-${month}-${day}T${hours}:${minutes}:${seconds}`;
  }
</script>

{% endblock %}