{% extends 'components/base.html' %}

{% block content %}

<div class="flex justify-center items-center h-screen">
    <div class="bg-gray-50 rounded-lg shadow-md p-8">
        <!-- Content goes here -->
        <h1 class="text-3xl font-bold mb-8 text-center">สถานะการนัด</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 rounded-lg p-8">
            <div class="col-span-3 flex justify-center"> <!-- Centering the fourth div -->
                {% for appointment in appointments %}
                    <div class="border border-gray-300 rounded-lg shadow-md p-4 bg-blue-100 mx-auto">
                        <h2 class="text-xl font-semibold mb-2">{{ appointment.student.first_name }} {{ appointment.student.last_name }}</h2>
                        <p><strong>Committee:</strong> {{ appointment.committee.first_name }} {{ appointment.committee.last_name }}</p>
                        <p><strong>Start Time:</strong> {{ appointment.start_time }}</p>
                        <p><strong>End Time:</strong> {{ appointment.end_time }}</p>
                        <p><strong>Summary:</strong> {{ appointment.summary }}</p>
                    </div>
                {% empty %}
                    <div class="border border-gray-300 rounded-lg shadow-md p-4 bg-white text-center">
                        No appointments found.
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}